body{
	margin:0;
	background:lightgreen;
}

/* INITIALS */
.initial{
	position:static;
	top:5px;
	left:5px;
	background:black;
	font-weight:bold;
	color:white;
	width:200px;
}

/* BREAKS */
.break{
	width:100%;
	height:30px;
}

/* PAGE HEADERS */
.page-header{
	font-size:45px;
	font-weight:bold;
	font-family:Times New Roman;
	color:forestgreen;
	background:white;
	width:300px;
	border-radius:30px 0px;
}

/* NAVIGATION */
.nav-bar{
	position:relative;
	width:1200px;
}
.nav-item{
	display:block;
	height:30px;
	width:390px;
	border-left:solid 5px lightgreen;
	border-right:solid 5px lightgreen;
	float:left;
	background:forestgreen;
	
	font-size:20px;
	font-family:sans-serif;
	color:white;
	text-decoration:none;
	line-height:33px;
}
.nav-item:hover{
	cursor:pointer;
	background:dodgerblue;
	color:white;
}
.active{
	background:white;
	color:forestgreen;
}

/* BODY DIVS */
.body-div{
	position:relative;
	width:1200px;
	background:white;
	padding-bottom:30px;
	margin-bottom:50px;
}
.home-body{
	height:600px;
}
.about-body{
	height:450px;
}
.contact-body{
	padding-top:30px;
	height:300px;
}

/* INFO DIVS */
.info-div{
	position:relative;
	width:80%;
	top:30px;
	border:solid lightgreen 2px;
	border-radius:30px 0px;
	text-align:left;
	padding:15px;
}
.info-header{
	font-size:35px;
	line-height:50px;
	font-weight:bold;
	color:forestgreen;
}
.info{
	font-size:18px;
}

.about-info-div{
	position:relative;
	width:95%;
	top:30px;
	text-align:center;
	padding:15px;
}
.about-sub-div{
	float:left;
	border:solid lightgreen 2px;
	border-radius:30px 0px;
	text-align:left;
	width:28%;
	height:330px;
	margin-right:1%;
	margin-left:1%;
	padding:15px;
}

.contact-info-div{
	padding:10px;
	width:100%;
}
.contact-info{
	margin:20px;
	font-size:25px;
	font-family:sans-serif;
	font-weight:bold;
	color:forestgreen;
}

/* PICTURES */
.gallery-div{
	text-align:center;
}
.image-div{
	background-size:cover;
}
.home-image{
	height:200px;
	width:200px;
	display:inline-block;
	margin-left:40px;
	margin-right:40px;
	border-radius:30px 0px;
	border:solid 2px forestgreen;
	box-shadow:7px 7px lightgreen;
}
.hi-1{
	background-image:url(csu_outdoors.jpg);
}
.hi-2{
	background-image:url(textbooks.jpg);
}
.hi-3{
	background-image:url(finding_books.jpg);
}

.about-pic-1{
	width:200px;
	height:90px;
	background-image:url(viking_outfitters_logo.gif);
	background-size:cover;
}
.about-video{
	width:95%;
	height:150px;
	margin-top:40px;
}

.contact-pic{
	height:50px;
	width:50px;
	background-size:cover;
	padding:5px;
	border-radius:30px 0px;
	border:solid 2px forestgreen;
	box-shadow:5px 5px lightgreen;
}
.contact-pic-1{
	background-image:url(phone.png);
}
.contact-pic-2{
	background-image:url(mail.png);
}